.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 180px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 6px;
  background-color: #48beff;
  cursor: pointer;
}

.cardFlipped {
  background-color: #343434;
  color: #48beff;
  font-size: 36px;
  font-weight: bold;
}

.isMatched {
  cursor: default;
}

.paused {
  cursor: default;
}
