.app {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 36px;
}

.deck {
  display: flex;
  width: 770px;
  height: 100%;
  flex-wrap: wrap;
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  background-color: #dda15e;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  margin: 12px;
}
